* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.styleall {
  background-color: rgb(9, 9, 75);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
}

.marginbt {
  margin-bottom: 10px;
}

.marginbt2 {
  margin-bottom: 18px;
}
#tokenpic {
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}
button,
.button {
  border: royalblue;
  border-style: ridge;
  color: whitesmoke;
  background-color: inherit;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 13rem;
  padding: 8px 10px;
  margin-right: 8px;
  transition: all 0.15s ease-in-out;
}

button,
.button:hover {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.page2 {
  background-color: linear-gradient(
      rgba(9, 9, 75, 0.795),
      rgba(9, 9, 75, 0.151)
    ),
    white;
  width: 100vw;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page2,
.future,
.now {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: gold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.now {
  display: flex;
  justify-content: center;
  align-items: center;
}
